<div id="status" role="complementary">
    <h1>Application Status</h1>
    <ul>
        <li>Environment: {{vm.applicationData.environment}}</li>
        <li>App profile: {{vm.applicationData.appprofile}}</li>
        <li>App version: {{vm.applicationData.appversion}}</li>
        <li>Grails version: {{vm.applicationData.grailsversion}}</li>
        <li>Groovy version: {{vm.applicationData.groovyversion}}</li>
        <li>JVM version: {{vm.applicationData.jvmversion}}</li>
        <li>Reloading active: {{vm.applicationData.reloadingagentenabled}}</li>
    </ul>
    <h1>Artefacts</h1>
    <ul>
        <li>Controllers: {{vm.applicationData.artefacts.controllers}}</li>
        <li>Domains: {{vm.applicationData.artefacts.domains}}</li>
        <li>Services: {{vm.applicationData.artefacts.services}}</li>
    </ul>
    <h1>Installed Plugins</h1>
    <ul>
        <li ng-repeat="plugin in vm.applicationData.plugins">{{plugin.name}} - {{plugin.version}}</li>
    </ul>
</div>
<div id="page-body" role="main">
    <h1>Welcome to Grails</h1>
    <p>Congratulations, you have successfully started your first Grails application! At the moment
        this is the default page, feel free to modify it to either redirect to a controller or display whatever
        content you may choose. Below is a list of controllers that are currently deployed in this application,
        click on each to execute its default action:</p>

    <div id="controller-list" role="navigation">
        <h2>Available Controllers:</h2>
        <ul>
            <li ng-repeat="c in vm.applicationData.controllers | orderBy:'name'" class="controller">
                <a ng-href="{{vm.contextPath}}/{{c.logicalPropertyName}}">{{c.name}}</a>
            </li>
        </ul>
    </div>
</div>