/*
*= require_self
*= require lib/page-layout
*= require lib/message-error
*= require lib/scaffold
*/

* {
    margin: 0;
    border: 0;
}
html, body {
    background-color:#ffffff;
    color:#000000;
    padding:0;
    margin:0;
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:normal;
}

html.no-cssgradients {
    background-color: #aaaaaa;
}

h1 {
    color: #000000;
    font-weight:700;
    font-size:2em;
    margin: 0.8em 0 0.25em 0;
}
h2 {
    color: #000000;
    font-weight:700;
    font-size:1.78em;
    margin: 0.6em 0 0.2em 0;
}
h3 {
    color: #000000;
    font-weight:700;
    font-size:1.44em;
    margin: 0.4em 0 0.15em 0;
}
h4 {
    color: #000000;
    font-weight:700;
    font-size:1em;
    margin: 0.2em 0 0.1em 0;
}

a {
    color:#db4800;
    text-decoration:underline;
    font-weight:200;
}
a:hover {
    color:#db4800;
    text-decoration:none;
}

.grails_color {
    background-color:#4d8618!important;
}
.grails_hilite_color {
    background-color:#db4800!important;
}
.grails_test_color {
    background-color:#00ff00!important;
}

.grails_color hr {
    background-color: #4d8618;
    height: 1px;
    margin: 0.5em;
}

.hidden {
    display: none;
}

.responsive_image {
    max-width: 100%;
    height: auto;
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 1em;
    width: 1em;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

a.skip {
    position: absolute;
    left: -9999px;
}

