/* Styles for mobile devices */

@media screen and (max-width: 48em) {
    aside, .primary, .secondary {
        font-size:0.6em;
        max-width:25%;
    }
    #page-content, .main, .content {
        min-width: 50%;
    }

    .container, .wrapper {
        padding-left: 0.5em;
        padding-right:0.5em;
    }
}


@media screen and (max-width: 30em) {
    header .header,
    h1, h2, h3, h4 {
        font-size:1em;
    }
    h5, h6 {
        font-size:0.56em;
    }

    aside, .primary, .secondary {
        display:none;
    }

    nav ul li,
    footer ul li, .footer ul li {
        display:block;
    }

    .container, .wrapper {
        padding-left: 0.1em;
        padding-right:0.1em;
    }
}

